table.center {
  border:3px solid black;
  table-layout:fixed;
  width:80%;
  margin: 0 auto;
}

td {
  border:1px solid black;
  height:20px;
  text-align:center;
  overflow:hidden;
  word-wrap:break-word;
}

td.empty {
  background-color:gray;
}

td.item {
  background-color:red;
}

td.pageheader {
  background-color:orange;
}

td.itemheader {
  background-color:yellow;
}

td.itemiddata {
  background-color:green;
}

td.leftOutRow {
  height:1px;
  border:2px solid black;
}

td.ignored {
  height:20px;
  border:2px solid black;

  background-color: black;
}

div.td {
  height:20px;
}